[Tt]arget*/
nbproject*/
nb-configuration.xml
/src/main/front-end/logs/*
/src/main/front-end/!.gitkeep
/src/main/front-end/node_modules/
/src/main/front-end/app/bower_components/
/src/main/front-end/tmp
/src/main/front-end/.DS_Store
/src/main/front-end/.idea
/src/main/front-end/.sass-cache
/src/main/front-end/connect.lock
/src/main/front-end/coverage/*
/src/main/front-end/libpeerconnection.log
/src/main/front-end/npm-debug.log
/src/main/front-end/testem.log
/src/main/front-end/typings
/src/main/front-end/.DS_Store
/src/main/front-end/Thumbs.db
