<!doctype html>
<html ng-app="HappyHour">
    <head lang="en">
        <title>Happy Hour App</title>
        <base href="/"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

        <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    </head>

    <body ng-app="happyApp">
        <div ng-controller="WorkerCtrl as wkCtrl">
            <md-list-item class="md-3-line" ng-repeat="worker in workers" ng-click="null">
                <div class="md-list-item-text" layout="column">
                    <h3>Worker name is {{ worker.name}}</h3>
                    <h4>Worker email is {{ worker.email}}</h4>
                    <p>Worker contibution this month is {{ worker.monthlyContribution}}</p>
                </div>
            </md-list-item>
        </div>

        <script type="text/javascript" src="app.js"></script>
        <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
    </body>
</html>
